@page
@model WishList.Views.Item.Create
@model WishList.Views.Item

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Add Item</title>
</head>
<body>
<div>
    <h3>Add item to wishlist</h3>
    <form asp-action="create">
        <input asp-for="Description"/>
        <span asp-validation-for="Description"></span>
        <button type="submit">Add Item</button>
    </form>
</div>
</body>
</html>