@page
@model WishList.Views.Item.Index
@model List<WishList.Models.Item>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>WishList</title>
</head>
<body>
<div>
    <h1>Wishlist</h1>
    <a asp-action="create">Add item</a>
    <ul razor="foreach(WishList.Models.Item)">
        
    </ul>
</div>
</body>
</html>