@page
@model WishList.Views.Home.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
<div>
    <h1>Index</h1>
    <a asp-action="Index" asp-controller="Item"></a>
</div>
</body>
</html>