@page
@model WishList.Views.Home.Error

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>
<div>
    <p>An error has occurred. Please try again.</p>
</div>
</body>
</html>